<p id="notice"><%= notice %></p>

<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Date of birth</th>
      <th>Allergic</th>
      <th>Medication</th>
      <th>Photo gumshield</th>
      <th>Photo no gumshield</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.full_name %></td>
        <td><%= player.date_of_birth %></td>
        <td><%= player.allergic %></td>
        <td><%= player.medication %></td>
        <td><%= player.photo_gumshield %></td>
        <td><%= player.photo_no_gumshield %></td>
        <td><%= link_to 'Show', player %></td>
        <td><%= link_to 'Edit', edit_player_path(player) %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
