<% @players.each do |player| %>
<article class="page-break">
  <h1 class="display-5"><%= player.full_name %></h1>

  <div class="photos">
    <%= image_or_message player.photo_no_gumshield, 'Photo without gumshield needed' %>
    <%= image_or_message player.photo_gumshield, 'Photo with gumshield needed' %>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <td class="label">Date of birth</td>
        <td>
          <% if player.date_of_birth %>
            <%= l(player.date_of_birth, format: '%d %B %Y') %>
          <% else %>
            <span class="exception">Unknown</span>
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="label">Is the player allergic to any medication?</td>
        <td>
          <% if player.allergic %>
            <%= player.allergy_note || 'Yes' %>
          <% elsif player.allergic.nil? %>
            <span class="exception">Unknown</span>
          <% else %>
            No
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="label">Is the player taking any prescribed medication?</td>
        <td>
          <% if player.medication %>
            <%= player.medication_note || 'Yes' %>
          <% elsif player.medication.nil? %>
            <span class="exception">Unknown</span>
          <% else %>
            No
          <% end %>
        </td>
      </tr>

      <tr>
        <td class="label">Year of latest tetanus inoculation</td>
        <td>
          <% if player.tetanus %>
            <%= player.tetanus %>
          <% else %>
            <span class="exception">Unknown</span>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr class="row">
        <td class = "col-4"><div class="contact">
          <label>Parent or guardian</label>
          <%= simple_format [player.pog1_name, player.pog1_phone1, player.pog1_phone2, player.pog1_address].compact.join("\n") %>
          <% if player.pog1_name.blank? || player.pog1_phone1.blank? %>
            <span class="exception">Parent or guardian's name and phone number needed</span>
          <% end %>
        </div></td>

        <td class = "col-4"><div class="contact">
          <label>Parent or guardian</label>
          <%= simple_format [player.pog2_name, player.pog2_phone1, player.pog2_phone2, player.pog2_address].compact.join("\n") %>
        </div></td>

        <td class = "col-4"><div class="contact">
          <label>Other emergency contact</label>
          <%= simple_format [player.ec_name, player.ec_phone1, player.ec_phone2].compact.join("\n") %>
        </div></td>
      </tr>

      <tr class="row">
        <td class = "col-4"><div class="contact">
          <label>GP</label>
          <%= simple_format [player.gp_name, player.gp_address].compact.join("\n") %>
          <% if player.gp_name.blank? || player.gp_address.blank? %>
            <span class="exception">GP's name and address needed</span>
          <% end %>
        </div></td>

        <td class = "col-4"><div class="contact">
          <label>School</label>
          <%= player.school %>
          <% if player.school.blank? %>
            <span class="exception">School name needed</span>
          <% end %>
        </div></td>
      </tr>
    </tbody>
  </table>
</article>

<%= standard_footer %>
<% end %>
